<html>
<body style="background-color:lightyellow">
<h1 style="font-size:48px" align="center">MY RECIPE BOOK</h1>
<p style="font-size:30px" align="center">Welcome to your online recipe book!</p>
 <div class = 'form'>

     <form align="center" method ='POST' action=''>
         <h2>Login</h2>
         <br>
         Username:<input type="text" name="username"><br><br>
         Password:<input type="password" name="pwd">
         <input type="submit" value="Submit">
         {{ form.login }}
     </form>
       {{ message }}

</div>

{% extends "standard.html" %}{% block title %}{% endblock %}


