<html>
<body style="background-color:lightyellow">
<h1 style="font-size:48px" align="center">MY RECIPE BOOK</h1>
<p style="font-size:30px" align="center">Welcome to your online recipe book!</p>
<br>
<br>
<h2 style="font-size:25px" align="center">Create a new account:</h2>
<br>
     <form align="center">
         Firstname:<input type="text" name="First Name"><br><br>
         Lastname:<input type="text" name="Last Name"><br><br>
         Email:<input type="text" name="Email"><br><br>
         Password:<input type="password" name="pwd"><br><br>
         Confirm Password:<input type="password" name="pwd"><br><br>
     </form>
 <form align="center">
     <input type="radio" name="sex" value="male">Female<br><br>
     <input type="radio" name="sex" value="male">Male<br><br>
     <input type="submit" value="Submit">
 </form>

{% extends "standard.html" %}{% block title %}{% endblock %}



